html{
    scroll-behavior: smooth;
}
#search-btn{
    color: white;
    background-color: rgb(231, 103, 197);
}

#display-phone-area img{
    height: 400px;
}

.me-auto{
    margin-left: auto !important;
}

#error-message{
    color: red;
    display: none;
}